.HomeDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.AboutDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.HeaderBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    align-items: center;
    background-color: lightblue;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    height: 10vh;
    top: 0;
    z-index: 100000;
  }