.HomeDiv {
    height: 550px;
    background-color: darkgray;
    width: 100%;
    align-content: right;
}

.IntroHeaderDiv {
    font-size: 30pt;
    text-align: right;
    right: 150px;
    top: 50px;
    z-index: 10;
    position: absolute;
    word-spacing: 10pt;
}

.IntroTextDiv {
    right: 100px;
    top: 155px;
    padding-top: 25px;
    position: absolute;
    height: 400px;
    background-color: lightgray;
    fill-opacity: 50%;
    width: 400px;
    height: 300px;
    text-align: center;
    align-items: center;
    border-radius: 10pt;
}

.WorkDiv {
    height: 1250px;
    width: 100%;

}

.WorkGrid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    row-gap: 50px;
    column-gap: 50px;
    height: 80%;
    width: 100%;
    justify-content: space-evenly;

}

.GridItem {
    background-color: darkgray;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 300px;
    width: 300px;
    border-radius: 10pt;
}

.AboutDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    background-color: #E6D1F2;
}

.AboutText {
    width: 800px;
    height: 100%;
}

.AboutTitle {
    font-size: 45pt;
    word-spacing: 10pt;
    text-align: center;
    height: 35px;
}

.paragraph{
    display:flex;
    flex-direction:column;
    text-align:left;
    max-width:1000px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Roboto, sans-serif;
    
}

.ContactDiv {
    width: 250px;
    height: 85%;
    background-color: darkgray;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    margin-top: 200px;
}

.ResumeDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.FooterBar {
    width: 100%;
    height: 65px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: burlywood;
    z-index: 100;
    position: fixed;
    bottom:0;

  }

  .Icons{
    color: black;
    padding: 40px;
    
  }

  .Icons:hover{
      color: #676767;
  }

.HeaderBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    height: 10vh;
    width: auto;
    top: 0;
    z-index: 100000;
    padding-right: 50px;
  }

  .NavButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    right : 0;
  }

  .H1_Logo {
    font-family: sans-serif;
    font-size: 12pt;  
    margin-left: 30px;

  }

  .H1_Header {
    margin-left: 30px;
    margin-right: 30px;
    font-family: sans-serif;
    font-size: 12pt;
  }

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: coral;
    text-decoration: none;
}

