.colorheader {
    display:flex;
    background-color: #EBA362;
    width:100%;
    height:500px;
}
.headertext{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
    width:100%;
    height:100%;
    justify-content: center;
}

.headertext h1{
    font-size: 70pt;
    margin: 0;
    text-align: center;
}

.headertext h3{
    font-size: 16pt;
    text-align: center;
    font-weight:300;
    width:55%;
}

.casestudy{
    width: 50%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin:auto;
    padding-top: 1%;
    margin-bottom: 30px;
}

.casestudy h2{
    margin-top: 30px;
    margin-bottom: 0px;
}

.casestudy p{
    line-height: 26px;
    font-weight: 300;
}

.brandguide {
    cursor: zoom-in;

}

.brandguideZoom {
    cursor: zoom-out;
    transform: scale(1.5);
}