.colorheader-g {
    display:flex;
    background-color: #6CAD7A;
    width:100%;
    height:500px;
}

.colorheader-p {
    display:flex;
    background-color: #A3B0E2;
    width:100%;
    height:500px;
}
.headertext{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
    width:100%;
    height:100%;
    justify-content: center;
}

.headertext h1{
    font-size: 65pt;
    margin: 0;
    text-align: center;
}

.headertext h3{
    font-size: 16pt;
    text-align: center;
    font-weight:300;
    width:55%;
}

.casestudy{
    width: 50%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin:auto;
    padding-top: 1%;
    margin-bottom: 30px;
}

.casestudy h2{
    margin-top: 30px;
    margin-bottom: 0px;
}

.casestudy p{
    line-height: 26px;
    font-weight: 300;
}

.brandguide {
    cursor: zoom-in;
    z-index: 15;
}

.brandguideZoom {
    cursor: zoom-out;
    z-index: 15;
    transform: scale(1.5);
}

.container {
    position: relative;
}

.blurOverlay {
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    background-color: #7777;
    z-index: -1;
    position: absolute;
}

.blurOverlay-blur {
    top: 0;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(4px);
    opacity: 1;
    z-index: 10;
    position: absolute;
}

.boldLink {
    font-weight: 600;
}

.iframe{
    border: none;
}

@media (max-width:1200px) {
    .casestudy {
        width: 60%;
    }
    .brandguide {
        max-height: 100%;
        height: auto;
        object-fit: contain;
    }
}

@media (max-width: 750px) {
    .headertext h1 {
        font-size: 45pt;
    }
    .casestudy {
        width: 75%;
    }
    .brandguide {
        min-height: 100%;
        height: auto;
        object-fit: contain;
        cursor: initial;
    }
    .brandguideZoom {
        min-height: 100%;
        height: auto;
        object-fit: contain;
        transform: scale(1);
        cursor: initial;
    }
    .blurOverlay-blur {
        opacity: 0;
    }
}